@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.body {
  width: 100%;
  height: 100%;
}

.main {
  width: 1300px;
  height: 630px;
  margin: auto;
  position: relative;
}

#title {
  text-align: center;
  padding: 32px;
}

#title h1 {
  font-size: 24px;
  font-weight: 600;
}

.scatter-plot {
  text-align: center;
  width: 100%;
  position: absolute;
}

.dot {
  opacity: 0.8;
}

#tooltip {
  position: absolute;
  background-color: rgb(200, 218, 240);
  border-radius: 8px;
  border: 0;
  padding: 12px;
  text-align: left;
  font-size: 12px;
  pointer-events: none;
}